# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Nukem\Desktop\JS Applications\8_1_EXERCISE_REMOTE_DATABASES\exercises_remote_databases\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
